/* --- GENERAL --- */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:200,400,400i,700,700i&display=swap');

body {
  background-color: rgb(17, 60, 30);
  color: white;
  font-family: 'Playfair Display', serif;
  padding: 5px;
  transition: background-color 1.5s ease 0.5s, color 2s ease 0.5s;
  min-height: 100vh;
  position: relative;
}

/* --- TYPOGRAPHY --- */
h1 {
  text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
  margin-bottom: 0;
}

/* --- BUTTONS --- */
button {
  color: white;
  text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: color 2s ease 0.5s;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
button:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.25);
  border: 3px solid rgba(255, 255, 255, 0.75);
  border-radius: 4px;
}
/* 'Show Another Quote' button */
#load-quote {
  width: max-content;
  white-space: nowrap;
  font-size: 1.15rem;
  margin-left: 2%;
  margin-right: 2%;
}
/* 'Stop/Start' buttons */
#play-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#stop-btn {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#stop-btn img {
  height: 75%;
  padding: 5px;
}
/* 'Developed by' button */
footer button {
  color: inherit;
  font-size: 1rem;
  width: 100%;
}

/* --- ENDS OF PAGE --- */
header, footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  width: 95%;
}
header {
  align-items: start;
  padding: 5px;
}
footer {
  white-space: nowrap;
  flex-direction: column;
  align-items: baseline;
  border-top: 2px dashed rgba(255, 255, 255, 0.3);
  margin-bottom: 2%;
  text-align: center;
  position: fixed;
  bottom: 0;
}
footer p {
  width: 100%;
  font-size: small;
  margin: 1% 0;
}

/* --- PAGE CONTENT --- */
.container {
  width: 80%;
  max-width: 1024px;
  margin: 5% auto;
  padding: 5px;
  padding-bottom: 150px;
}
.quote-box {
  text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
  line-height: 0.5;
  /* opacity w/ transition set in JS*/
}
.quote:before, .quote:after {
  font-size: 3rem;
  line-height: 2.5rem;
  position: absolute;
}
.quote:before {
  content: '“'; /* special quote mark */
  top: 0.1em;
  left: -0.5em;
}
.quote:after {
  content: '”'; /* special quote mark */
  bottom: -0.1em;
  position: absolute;
}
.quote {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  margin: 0;
  margin-left: 10px;
}
.source:before {
  content: "—";
}
.source {
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 1em;
}
.add-prop::before {
  content: ", ";
  font-style: normal;
}
.citation {
  font-style: italic;
}
.tag {
  font-style: italic;
}

/* --- MEDIA QUERIES --- */
@media (min-width: 768px) {
  /* --- GENERAL --- */
  body {
    padding: 25px;
  }

  /* --- TYPOGRAPHY --- */
  h1 {
    font-size: 3.5rem;
    height: 73px;
    margin-top: 20px;
    margin-right: 5px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  }

  /* --- BUTTONS --- */
  button {
    height: 75px;
  }
  #load-quote {
    font-size: 1.5rem;
    width: 12em;
  }
  #stop-btn {
    width: 75px;
  }
  footer button {
    font-size: 1.25rem;
    width: 30%;
  }

  /* --- ENDS OF PAGE --- */
  header, footer {
    justify-content: space-between;
  }
  header {
    margin-bottom: 50px;
  }
  footer {
    flex-direction: row;
    /* height */
  }
  footer p {
    width: 25%;
    font-size: normal;
    margin: 1em 0;
  }
  

  /* --- PAGE CONTENT --- */
  .container {
    width: 90%;
    padding: 25px 25px 15px 55px;
    background: rgba(0, 0, 0, 0.1);
    border-left: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 0 4px 4px 0;
  }
  .quote:before,
  .quote:after {
    font-size: 6rem;
  }
  .quote:before {
    top: 0.25em;
  }
  .quote:after {
    bottom: 0.1em;
  }
  .quote {
    font-size: 4rem;
  }
  .source {
    font-size: 1.25rem;
    margin-right: 4em;
  }
}
